html, body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 750px;
  height: 100vh;
  margin: 0 auto;
  background: #d3ead4;
}

.content {
  position: relative;
  width: 375px;
  margin: 0 auto;
  height: 400px;
  overflow: hidden;
}

